<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>P!NG Serial Generator</string>
    <key>CFBundleDisplayName</key>
    <string>P!NG Serial Generator</string>
    <key>CFBundleIdentifier</key>
    <string>com.ping.serialgenerator</string>
    <key>CFBundleVersion</key>
    <string>2.0</string>
    <key>CFBundleExecutable</key>
    <string>launch</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <false/>
</dict>
</plist>
